@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.grid-container {
  max-width: none; // on large window width, keeps margin small
}

.player-container {
  display: flex;
  flex-direction: column;
  width: 100%
}

.seek-bar {
  width: 640px;
}

.chat-display {
  max-height: 400px;
  overflow-y: scroll;
}

.chat-submit { 
  width: 400px;
  max-width: 100%;
  position: relative;
}

.chat-submit input {
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgb(142, 142, 142);
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
}

.chat-submit button {
  border-radius: 50%;
  height: 80%;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  transform: translateX(-10%);
  top: 10%;
}

.video-link-submit { //https://www.youtube.com/watch?v=kr5nR6qHScA
  width: 400px;
  max-width: 100%;
  position: relative;
}

.video-link-submit input {
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgb(142, 142, 142);
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
}

.video-link-submit button {
  border-radius: 50%;
  height: 80%;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  transform: translateX(-10%);
  top: 10%;
}
body {
  background-color: #2b2b2b;
}